<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực đơn mẫu</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/meal_plans.css">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">BMI Meal Planner</div>

    <div class="nav-menu">
        <a>Thông tin cá nhân</a>
        <a>Thực đơn của tôi</a>
        <a>Thực đơn mẫu</a>
        <a class="logout">Đăng xuất</a>
    </div>
</div>

<!-- MAIN -->
<div class="container">
    <div class="header-row">
        <div class="title">📋 Danh sách thực đơn mẫu</div>
        <button class="custom-btn">➕ Tạo thực đơn theo sở thích</button>
    </div>


    <!-- ROW 1 -->
    <div class="meal-row">
        <div class="meal-info">
            <h2>Thực đơn giảm cân</h2>
            <p><b>Mục tiêu:</b> Giảm mỡ, giữ cơ</p>
            <p><b>Tổng calo:</b> ~1500 kcal/ngày</p>

            <div class="macro">
                <span>🥩 Đạm: 30%</span>
                <span>🥑 Chất béo: 25%</span>
                <span>🍚 Carb: 45%</span>
            </div>

            <button class="view-btn">Xem chi tiết</button>
        </div>

        <div class="meal-image">
            <img src="/images/anh1.jpg">
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="meal-row">
        <div class="meal-info">
            <h2>Thực đơn tăng cân</h2>
            <p><b>Mục tiêu:</b> Tăng cân lành mạnh</p>
            <p><b>Tổng calo:</b> ~2800 kcal/ngày</p>

            <div class="macro">
                <span>🥩 Đạm: 25%</span>
                <span>🥑 Chất béo: 30%</span>
                <span>🍚 Carb: 45%</span>
            </div>

            <button class="view-btn">Xem chi tiết</button>
        </div>

        <div class="meal-image">
            <img src="/images/anh3.jpg">
        </div>
    </div>

    <!-- ROW 3 -->
    <div class="meal-row">
        <div class="meal-info">
            <h2>Thực đơn duy trì</h2>
            <p><b>Mục tiêu:</b> Giữ cân nặng ổn định</p>
            <p><b>Tổng calo:</b> ~2200 kcal/ngày</p>

            <div class="macro">
                <span>🥩 Đạm: 25%</span>
                <span>🥑 Chất béo: 25%</span>
                <span>🍚 Carb: 50%</span>
            </div>

            <button class="view-btn">Xem chi tiết</button>
        </div>

        <div class="meal-image">
            <img src="/images/anh2.jpg" alt="Thực đơn duy trì">
        </div>
    </div>

</div>

<script src="/js/api.js?v=20260318"></script>
<script src="/js/common.js?v=20260318"></script>
<script src="/js/meal_plans.js?v=20260318"></script>

</body>
</html>
